<tr>
  <td><%= request_book.name %></td>
  <td><%= request_book.description %></td>
  <td class="text-center">
    <div id="accept_form-<%= request_book.id %>">
      <%= render "request", request_book: request_book %>
    </div>
  </td>
</tr>
