<table class="table table-striped">
  <tr>
    <td class="text-center"><%= t "titles.authorname" %></td>
    <td class="text-center"><%= t "titles.editdelete" %></td>
  </tr>
  <%= render @authors %>
</table>
<%= will_paginate %>
